<h1>Specials Offers</h1>
<div class="slider-container">
    <img [src]="imagesAds" alt="">
 </div>
 <div class="adsImg">
    <img src="https://fastui.cltpstatic.com/image/upload/f_auto,q_auto,w_235,h_122,dpr_2/offermgmt/images/BBD/CTTOT_BSB_HOTELS_27072023.png" alt="">
    <img src="https://fastui.cltpstatic.com/image/upload/f_auto,q_auto,w_235,h_122,dpr_2/offermgmt/images/BBD/CTAMRITARA_BSB_HOTELS_23072023.jpg" alt="">
    <img src="https://fastui.cltpstatic.com/image/upload/f_auto,q_auto,w_235,h_122,dpr_2/offermgmt/images/BBD/CTCANARA_BSB_HOTELS_27032023.png" alt="">
 </div>
