<h1>All User Data</h1>
<div class="search-container">
    <input type="text" class="search-input" placeholder="Search ... Name , Location " aria-label="Search"
      [(ngModel)]="searchInput">
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col" sortable="id">ID</th>
			<th scope="col" sortable="firstName" >First Name</th>
			<th scope="col" sortable="lastName" >Last Name</th>
			<th scope="col" sortable="phoneNumber">Phone Number</th>
			<th scope="col" sortable="email">Email Address</th>
			<th scope="col" sortable="gender">Gender</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of allUserData| filtersItems: searchInput; index as i">
			<th scope="row">{{ i + 1 }}</th>
            <td>{{user.id}}</td>
			<td>{{user.firstName}}</td>
			<td>{{user.lastName}}</td>
			<td>{{user.phoneNumber | number}}</td>
			<td>{{user.email}}</td>
			<td>{{user.gender}}</td>
		</tr>
	</tbody>
</table>
